@charset "utf-8";
ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
}

/* メディアクエリ（条件付き） */
@media screen and (max-width: 768px) {
    ul {
        flex-direction: column;
    }    
}